section {
    background-color: black;
    color: white;
}

.imagen-viajes {
    width: 30px;
    height: auto;
}

.texto-viajes {
    color: white;
}

#navbar {
    transition: background-color 0.5s ease;
  }
  
  .scrolled {
    background-color: #373a3c !important;
  }
  
  .carousel-inner {
    position: relative;
    z-index: 1;
  }
  
  #navbar {
    z-index: 2;
  }

  .btn-custom-color {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0;
  }

  footer {
    background-color: #0dcaf0;
    color: #fff; 
    padding: 20px 0;
    text-align: center;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-icons {
    display: flex;
    gap: 10px;
  }
  .social-icons a {
    color: #fff; 
    font-size: 20px;
  }
  
  